<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
        <a class="navbar-brand  ">shrimps</a> 
    </div>
</nav>

<div class="card  mx-auto text-center" style="width: 36rem;">
    <div class="card-body all">
        <mat-icon #componentInput3> wb_sunny</mat-icon>

        <div class="row" *ngIf="cor == true">
            <p class="display-1 ">R$ {{mountain}}</p>
            <p class="display-4 ">{{icon}} {{refreshed}}</p>
            <p>Produto: {{description}}</p>
        </div>
        <div class="row ">
            <mat-slide-toggle class="col-2 " (change)="toggleChanges($event)"></mat-slide-toggle>
            <input class="all col-7" placeholder="R$" (keyup)="KeyDown($event)" type="number" #componentInput />
            <button (click)="send(componentInput.value, componentInput2.value)" type="submit"
                class="btn btn-primary all col-2">Go</button>
        </div>

        <div class="row col-12">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false"> + </a>
            <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                <p class="dropdown-header">Item Name: </p>
                <div class="dropdown-divider"></div>
                <li><textarea placeholder="name"  class="textField col-12" name="description" cols="30" rows="1"
                        #componentInput2></textarea></li>
            </ul>
        </div>
    </div>
</div>

